#info-container {
    width:100dvw;
    position:fixed;
    top:80px;
    left:0;
    opacity:0;
    transition:opacity 0.2s ease;
    pointer-events:none;
}

#info-container.is-visible {
    opacity:1;
}

.info-content {
    width:calc(50dvw - 30px);
    margin-left:50dvw;
    display:block;
    font-size:12px;
    line-height:130%;
    color:#FFFFFF;
    text-align:left;
    transition:color 0.3s ease;
}

.is-index-mask-visible .info-content-base {
    color:#000000;
}

.info-content p {
    margin:0 0 1em;
}

.info-content p:last-child {
    margin-bottom:0;
}

.info-character {
    opacity:1;
}

.info-content.is-animated .info-character {
    opacity:0;
    animation:reveal-character 0.01s linear forwards;
    animation-delay:var(--character-delay);
}

.info-content.is-animation-paused .info-character {
    animation-play-state:paused;
}

@media (max-width: 767px) {
    #info-container {
        top:80px;
    }

    .info-content {
        width:calc(100dvw - 60px);
        margin-left:30px;
    }
}

@keyframes reveal-character {
    to {
        opacity:1;
    }
}
