body, * {
  box-sizing: border-box;
}

@property --index-mask-radius {
  syntax:"<length>";
  inherits:false;
  initial-value:75vmax;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
}

body {
  background:#000000;
}

a {
  text-decoration:none;
}
